@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Joe's Discount Computers</h1>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Windows 11 Pro</h5>
        <p class="card-text">BEST SELLING – WINDOWS® 11 PRO 1 PC – RETAIL LICENSE</p>
		<p class="card-text">$55.00</p>
        <a href="#" class="btn btn-primary">Buy Me</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Windows 10 Pro</h5>
        <p class="card-text">WINDOWS® 10 PRO 1 PC – RETAIL LICENSE </p>
		<p class="card-text">$50.00</p>
        <a href="#" class="btn btn-primary">Buy Me</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Windows 10 Home</h5>
        <p class="card-text">BEST SELLING – WINDOWS® 10 Home 1 PC – RETAIL LICENSE</p>
		<p class="card-text">$55.00</p>
        <a href="#" class="btn btn-primary">Buy Me</a>
      </div>
    </div>
  </div>
</div>